optiguide==0.0.3

Demo For 3/13 Ambassador Webinar

git clone https://github.azc.ext.hp.com/phoenix/Demos-for-Gartner-Amplify-and-GTC/tree/main/Nadya




Janus-Pro-1B 

On DEV: without Boost : 20 sec

DEV: with Boost:20 sec


Janus-pro-7B

On DEV: without Boost : 30 sec

DEV: with Boost: 3:15 min 


Imagine large manufacturing company 

Use core feature for Boost = it transcends to many industries and bullet points,


Rewrite the copy -> 



